.vs
**/*.suo
bin/
obj/
packages/
user/

!user/README.txt
plugin/**/*.csproj.user

plugin/ThirdParty/
publish/
dist/
node_modules
.idea/*
.idea/
*.iml
*.swp
.DS_Store
util/DEPS.cache

# Environments
.env
.venv
env/
venv/
npm-package/
.eslintcache

# PRs
build/백업
build/작업
build/타임라인
actions-latest.json
signatures-global-latest.json
statuses-latest.json
structures-global-latest.json
zones-latest.json
